In [13]:
import pandas as pd
import numpy as np
import re
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error,mean_squared_error,r2_score

In [14]:
df=pd.read_csv('Pune_House_Data-Copy1.csv')
df.head(100)

,area_type,availability,size,society,total_sqft,bath,balcony,price,site_location
0,Super built-up Area,19-Dec,2 BHK,Coomee,1056,2.0,1.0,39.07,Alandi Road
1,Plot Area,Ready To Move,4 Bedroom,Theanmp,2600,5.0,3.0,120.00,Ambegaon Budruk
2,Built-up Area,Ready To Move,3 BHK,NaN,1440,2.0,3.0,62.00,Anandnagar
3,Super built-up Area,Ready To Move,3 BHK,Soiewre,1521,3.0,1.0,95.00,Aundh
4,Super built-up Area,Ready To Move,2 BHK,NaN,1200,2.0,1.0,51.00,Aundh Road
...,...,...,...,...,...,...,...,...,...
95,Super built-up Area,Ready To Move,3 BHK,NaN,1540,3.0,2.0,90.00,Yerawada
96,Plot Area,Ready To Move,4 Bedroom,Goardth,2894,4.0,1.0,245.00,Alandi Road
97,Super built-up Area,Ready To Move,3 BHK,NaN,1330,2.0,1.0,48.00,Ambegaon Budruk
98,Built-up Area,Ready To Move,2 BHK,NaN,1200,2.0,1.0,65.00,Anandnagar
99,Built-up Area,Ready To Move,3 Bedroom,NaN,1200,3.0,1.0,90.00,Aundh

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   area_type      13320 non-null  object
 1   availability   13320 non-null  object
 2   size           13304 non-null  object
 3   society        7818 non-null   object
 4   total_sqft     13320 non-null  object
 5   bath           13247 non-null  float64
 6   balcony        12711 non-null  float64
 7   price          13320 non-null  float64
 8   site_location  13319 non-null  object
dtypes: float64(3), object(6)
memory usage: 936.7+ KB

In [16]:
df['total_sqft'].astype('float')
df

ValueError: could not convert string to float: '2100 - 2850'

In [17]:
def total_sqft(x):
    a=re.findall('[0-9]{4}[-][0-9]{4}',str(x))
    return a
df['total_sqft']=df['total_sqft'].apply(total_sqft)
df

,area_type,availability,size,society,total_sqft,bath,balcony,price,site_location
0,Super built-up Area,19-Dec,2 BHK,Coomee,[],2.0,1.0,39.07,Alandi Road
1,Plot Area,Ready To Move,4 Bedroom,Theanmp,[],5.0,3.0,120.00,Ambegaon Budruk
2,Built-up Area,Ready To Move,3 BHK,NaN,[],2.0,3.0,62.00,Anandnagar
3,Super built-up Area,Ready To Move,3 BHK,Soiewre,[],3.0,1.0,95.00,Aundh
4,Super built-up Area,Ready To Move,2 BHK,NaN,[],2.0,1.0,51.00,Aundh Road
...,...,...,...,...,...,...,...,...,...
13315,Built-up Area,Ready To Move,5 Bedroom,ArsiaEx,[],4.0,0.0,231.00,Pashan
13316,Super built-up Area,Ready To Move,4 BHK,NaN,[],5.0,NaN,400.00,Paud Road
13317,Built-up Area,Ready To Move,2 BHK,Mahla T,[],2.0,1.0,60.00,Pirangut
13318,Super built-up Area,18-Jun,4 BHK,SollyCl,[],4.0,1.0,488.00,Prabhat Road
13319,Super built-up Area,Ready To Move,1 BHK,NaN,[],1.0,1.0,17.00,Pune Railway Station

In [ ]:
df['BHK']=df['size'].str.split().str.get(0).astype(int)
df['BHK']

In [ ]:
df['bath']=df['bath'].fillna(df['bath'].mean())
df['balcony']=df['balcony'].fillna(df['balcony'].mean())
df['size']=df['size'].fillna('2 BHK')
df.isna().sum()